
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi Team</h1>
    <p>
      Details of Completed Documents Upto <%= Date.today %>.<br>
    </p>
    <p>
      <%= @completed_doc%>
    </p>
  </body>
</html>
