
<div class="container-fluid">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="position: absolute; left: 0; background: #000;" style="overflow:auto;">
    <object data="<%= @file_name %>" type="application/pdf" width="100%" height="630" style="position: absolute; left: 0">
      <!-- <object data="/1.pdf" type="application/pdf" width="100%" height="630" style="position: absolute; left: 0"> -->
    </object>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="position: absolute; right: 0; background: #ffffff;" onscroll="OnScroll(this)">
    <form method="post" action="/submit" class="formSubmit">
      <input type="hidden" id="document_name" name="document_name" value= <%= @user_doc.document_page.document.name %> />
      <input type="hidden" id="document_page_id" name="document_page" value= <%= @user_doc.document_page_id %> />
      <textarea name="editor" id="editor">
        <%#= (@text).gsub('<br />', '<p>') %>
        <%= simple_format(@text, {}, :sanitize => false).gsub('<br />', '<p>') %>
        <%#=  simple_format(@text).gsub('<br />', '<p>') %>
      </textarea>
      <script>
        CKEDITOR.replace( 'editor', {
          language: 'en',
          uiColor: '#ffffff',
          format_tags: 'sectiontitle;title;sub;paragraph;sidenote',
          format_title: { element: 'p', name: 'Title', attributes: { 'class': 'title', 'id': 'title' } },
          format_sub: { element: 'p', name: 'Sub Title', attributes: { 'class': 'sub_title', 'id': 'sub_title' } },
          format_sectiontitle: { element: 'p', name: 'Section Title', attributes: { 'class': 'section', 'id': 'section' } },
          format_paragraph: { element: 'p', name: 'Paragraph', attributes: { 'class': 'paragraph', 'id': 'paragraph' } },
          format_sidenote: { element: 'p', name: 'Sidenote', attributes: { 'class': 'sidenote', 'id': 'sidenote' } },
          // fullPage: true,
        } );
        CKEDITOR.config.height = '520px';
        CKEDITOR.config.width = '100%';
        CKEDITOR.config.contentsCss = '/css/ckeditor.css' ;
        function OnScroll(div) {
            var d1 = document.getElementById("editor");
            d1.scrollTop = div.scrollTop;
        }
      </script>
    </form>
    <button class="btn-success" id="submit">Submit</button>
  </div>
</div>
<div id="footer"  style="background-color: #30302d;">
  <div class="container">
  </div>
</div>

<script>
  $("#submit").click(function(e) {
    var data = CKEDITOR.instances.editor.getData();
    var doc_name = $('#document_name').val()
    var doc_page_id = $('#document_page_id').val()
    $.ajax({
	        type: "post",
	        url: "/submit",
	        data: { doc_name: doc_name, doc_page_id: doc_page_id, autosave: data },
		});
  });
</script>
