<body>
      <div class="container-fluid">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="position: absolute; left: 0; background: #000;">
          <object data="<%= @file_name %>" type="application/pdf" width="100%" height="630" style="position: absolute; left: 0">
          <!-- <object data="/1.pdf" type="application/pdf" width="100%" height="630" style="position: absolute; left: 0"> -->
          </object>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="position: absolute; right: 0; background: #666;">
          <form>
              <textarea name="editor" id="editor">
                  <%= (@text).gsub('<br />', '<p>') %>
                  <%#=  simple_format(@text).gsub('<br />', '<p>') %>
              </textarea>
              <script>
                CKEDITOR.replace( 'editor', {
                  // on : {
                  //     // maximize the editor on startup
                  //     'instanceReady' : function( evt ) {
                  //        evt.editor.resize("100%", editorElem.clientHeight);
                  //     } 1`                              u9
                  //  },
                  format_tags: 'title;sub;paragraph',
                  format_title: { element: 'p', name: 'Title', attributes: { 'class': 'title', 'id': 'title' } },
                  format_sub: { element: 'p', name: 'Sub Title', attributes: { 'class': 'sub_title', 'id': 'sub_title' } },
                  format_paragraph: { element: 'p', name: 'Paragraph', attributes: { 'class': 'paragraph', 'id': 'paragraph' } },

                } );
                CKEDITOR.config.height = '520px';
                CKEDITOR.config.width = '100%';
              </script>
          </form>
        </div>
  </div>
  <div id="footer"  style="background-color: #30302d;">
      <div class="container">

      </div>
    </div>
</body>
