<div class="container-fluid">
  <div class="col-lg-3">
  </div>
  <div class="col-lg-6">
    <div class="profile-container">
      <div class="profile-name">
          <h5><b><%= current_user.email%></b></h5>
      </div>
      <div class="profile-document">
        test
      </div>
    </div>
  </div>
  <div class="col-lg-3">
  </div>
</div>
