<div class="container-fluid">
  <div class="row">
    <footer class="footer-bg-new">
      <p>&copy; 2017</p>
    </footer>
  </div>
</div>
<style type="text/css">
	.footer-bg-new {
		background: #d6d6d6;
		color: #333;
		text-align: center;
		padding: 10px;
	}
	.footer-bg-new p {
		margin: 0;
		padding: 0;
	}
</style>
